<main class="main">
  <h1>Angular Person Editor</h1>
  <div class="content">
    <div class="person">
      <div class="row">
        <vscode-label for="firstname">Firstname:</vscode-label>
        <div class="value">
          <vscode-textfield
            type="text"
            [formControl]="firstname"
            (input)="updateDocument()"
          />
        </div>
      </div>
      <div class="row">
        <vscode-label for="lastname">Lastname:</vscode-label>
        <div class="value">
          <vscode-textfield
            type="text"
            [formControl]="lastname"
            (input)="updateDocument()"
          />
        </div>
      </div>
    </div>
  </div>
</main>
