<main class="main">
  <h1>Angular Person Editor</h1>
  <div class="content">
    <div class="person">
      <div class="row">
        <label for="firstname" class="vscode-label">Firstname:</label>
        <div class="value">
          <input
            type="text"
            class="vscode-textfield"
            [formControl]="firstname"
            (input)="updateDocument()"
          />
        </div>
      </div>
      <div class="row">
        <label for="lastname" class="vscode-label">Lastname:</label>
        <div class="value">
          <input
            type="text"
            class="vscode-textfield"
            [formControl]="lastname"
            (input)="updateDocument()"
          />
        </div>
      </div>
    </div>
  </div>
</main>
